:root {
    --mint: #97f7bc;
    --bright-grey: rgb(222, 222, 222);
    --grey: rgb(197, 197, 197);
    --dark-grey: #3f3f3f;
    --right-green: rgb(152, 196, 144);
    --false-red: rgb(203, 137, 137);
}


/* Header */

.heading-container {
    background-color: var(--dark-grey);
    color: var(--mint);
    padding: 4% 10%;
    letter-spacing: 40px;
    font-weight: 100;
    font-family: 'Lily Script One';
    font-size: 3rem;
}

.navbar {
    background-color: var(--grey);
}

.navbar ul {
    width: 100%;
}

.navbar-text {
    letter-spacing: 10px;
    color: white;
}

.navbar-toggler {
    border: none;
}


/* Body */

body {
    text-align: center;
    background-color: var(--bright-grey);
    font-family: 'Montserrat';
}

hr {
    border: solid var(--grey) 8px;
    border-bottom: none;
    width: 50%;
    margin: 38px auto;
}


/* About Section */

.about-container {
    margin: 50px 20px 100px 20px;
    padding-top: 20px;
}

.about-text {
    text-align: left;
    line-height: 2rem;
    letter-spacing: 2px;
    padding-left: 10%;
    padding-right: 10%;
}

.eyecatcher-text {
    margin-top: 50px;
    transform: rotate(20deg);
    font-family: 'Lily Script One';
    font-size: 5rem;
    text-shadow: 2px 2px var(--mint);
    color: var(--dark-grey);
}


/* Training Section */

#training {
    padding-top: 20px;
    padding-bottom: 30px;
}

.training-container {
    padding-bottom: 40px;
    margin: auto;
    width: 40%;
}

.vocable-german {
    margin: 10px auto 50px;
    padding: 30px;
    height: 100px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: var(--dark-grey);
    background-color: var(--grey);
}

.vocable-english-user-input {
    margin-bottom: 20px;
    padding: 30px;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
}

.heading-training {
    margin-top: 30px;
    text-align: left;
    font-size: 1rem;
}

.check-or-next-button {
    display: block;
    margin: 20px auto 30px;
}

.right-translation {
    background-color: var(--right-green);
}

.wrong-translation {
    background-color: var(--false-red);
}


/* Footer */

.copyright {
    padding: 20px 0;
    font-size: 0.75rem;
    color: var(--bright-grey);
}

#footer {
    padding: 20px 0 20px;
    background-color: var(--dark-grey);
    color: var(--mint);
}

.social-icon {
    margin: 30px 10px 10px;
    color: var(--mint);
}

.social-icon:hover {
    color: white;
    cursor: pointer;
}

#footer p {
    margin: 30px;
    word-spacing: 7px;
}

/* Media Querys */

/* TODO */